<!-- ⚠️生产环境请指定版本号，如 https://unpkg.com/vditor@x.x.x/dist... -->
<link rel="stylesheet" href="/static/plugins/vditor/css/vditor@3.9.2.css"/>
<script src="/static/plugins/vditor/js/vditor@3.9.2.min.js"></script>

<div class="container">{{$pageContent := .page_content}}{{$document := .document}}{{$parentDocuments := .parent_documents}}
    <div class="row">{{$createUser := .create_user}}{{$editUser := .edit_user}}
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="panel panel-body">
                <div id="document_page_view">
                    <div class="center">
                    <h3 class="view-page-title"><i class="fa fa-file-word-o"></i> {{$document.name}}</h3>
                    <p class="view-page-path"><i class="fa fa-folder fa-fw"></i>
                    {{range $parentDocument := $parentDocuments}}
                    {{if eq $parentDocument.parent_id "0"}}
                        {{$parentDocument.name}}
                    {{else}}
                        / {{$parentDocument.name}}
                    {{end}}
                    {{end}}
                    </p>
                    <p class="view-page-time">
                        <i class="fa fa-newspaper-o fa-fw"></i>
                        创建于 {{dateFormat $document.create_time "Y/m/d H:i:s"}} By  {{$createUser.username}}（{{$createUser.given_name}}）
                    </p>
                    <p class="view-page-time">
                        <i class="fa fa-edit fa-fw"></i>
                        修改于 {{dateFormat $document.update_time "Y/m/d H:i:s"}} By  {{$editUser.username}}（{{$editUser.given_name}}）
                    </p>
                    <hr style="margin: 0">
                    </div>

                    <div id="document_page_view_content" style="padding: 0 10px 10px 10px;">
                    </div>
                </div>
            </div>
            <div class="panel panel-body">
                <div class="text-center">
                    © {{.copyright}}
                    &nbsp;<i class="glyphicon glyphicon-hand-right"></i>
                    <a target="_blank" href="https://github.com/phachon/MM-Wiki">Powered by MM Wiki {{.version}}</a>
                </div>
            </div>
        </div>
        <div class="col-md-1" id="display_section">
            <div class="share-popup center">
                <label> 分享到 <i class="fa fa-wechat"></i> <i class="fa fa-qq"></i></label>
                <div id="document-qrcode"></div>
                <label>打开微信“扫一扫”</label>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function() {
        if (Common.isMobile()) {
            $("#display_section").hide()
        }
        Vditor.preview(document.getElementById("document_page_view_content"),{{$pageContent}},
            {
                after() {
                    // 将所有的 a 标签 target="_parent"
                    $("#document_page_view").find("a").each(function () {
                        var target = $(this).attr("target") || "_parent";
                        $(this).attr("target", target);
                    })
                }
            });
        $.scrollUp({
            animation: 'fade',
            // activeOverlay: '#00FFFF',
            scrollImg: {
                active: true,
                type: 'background',
                src: 'img/top.png'
            }
        });

        $('#document-qrcode').qrcode({
            width: 120,
            height: 120,
            text: window.location.href
        });
    });
</script>