<!-- ⚠️生产环境请指定版本号，如 https://unpkg.com/vditor@x.x.x/dist... -->
<link rel="stylesheet" href="https://unpkg.com/vditor@3.9.2/dist/index.css"/>
<script src="https://unpkg.com/vditor@3.9.2/dist/index.min.js"></script>

<div class="container-fluid" style="height: 100%">
    <form id="page_form" action="/page/modify" method="post" style="height: 98%" onsubmit="return false">
        <div class="row">{{$pageContent := .page_content}}{{$document := .document}}
            <div class="col-md-12">
                <input type="hidden" name="document_id" value="{{$document.document_id}}">
                <div class="row">
                    <div class="col-md-10">
                        <input type="text" name="name" class="form-control" placeholder="请输入文档名称"
                               value="{{$document.name}}" {{if eq $document.parent_id "0"}} readonly="readonly" {{end}}>
                    </div>
                    <div class="col-md-2 text-center">
                        <button type="button" class="btn btn-primary" onclick="save()"><i class="fa fa-save"></i> 保存
                        </button>
                        <button type="button" class="btn btn-default"
                                onclick="Page.cancelSave('确定要放弃此次修改吗?', '/document/index?document_id={{$document.document_id}}')">
                            <i class="fa fa-mail-reply"></i> 取消
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="padding-top: 8px;">
            <div class="col-md-12">
                <input type="hidden" name="document_page_editor-markdown-doc" id="document_page_editor-markdown-doc">
                <div tabindex="-1" id="document_page_editor" style="height: 800px"></div>
            </div>
        </div>
    </form>
</div>
<script type="text/javascript">
    if (parent.layoutClose) {
        parent.layoutClose();
    }
    if (parent.hiddenScrollY) {
        parent.hiddenScrollY();
    }
    const storageId = "mm_wiki_doc_" + {{$document.document_id}}

    const vditor = new Vditor('document_page_editor', {
        cache: {
            enable: true,
            id:storageId
        },
        value: {{$pageContent}},
        multiple: false,
        height: window.innerHeight -50,
        placeholder:'请输入内容...',
        mode:'wysiwyg',
        counter:{
            enable:true
        },
        toolbarConfig:{
            pin:true
        },
        outline:{
            enable:true
        },
        upload: {
            accept: 'image/*,.mp3, .wav, .rar',
            token: 'test',
            url: '/image/upload?document_id={{$document.document_id}}',
            fieldName: 'editormd-image-file',
            linkToImgUrl: '/api/upload/fetch',
            filename(name) {
                return name.replace(/[^(a-zA-Z0-9\u4e00-\u9fa5\.)]/g, '').replace(/[\?\\/:|<>\*\[\]\(\)\$%\{\}@~]/g, '').replace('/\\s/g', '')
            },
            file(files){
                let time = Date.parse(new Date());
                return files.map(file=>{
                    let newName = time + '-' +file.name.replace(/[^(a-zA-Z0-9\u4e00-\u9fa5\.)]/g, '').replace(/[\?\\/:|<>\*\[\]\(\)\$%\{\}@~]/g, '').replace('/\\s/g', '');
                    return new File([file], newName, {type: file.type})
                })
            },
            format(files, response) {
                const data = JSON.parse(response);
                let name = files[0].name;
                if (data.success === 1) {
                    let newResponse = {
                        msg: "",
                        code: 0,
                        data: {
                            errFiles: [],
                            succMap: {
                                [name]: data.url,
                            }
                        }
                    };
                    return JSON.stringify(newResponse)
                } else {
                    let newResponse = {
                        msg: data.message,
                        code: 1,
                        data: {
                            errFiles: [name],
                            succMap: {}
                        }
                    };
                    return JSON.stringify(newResponse)
                }
            }
        }
    })

    const docStorage = localStorage.getItem(storageId);
    if (docStorage && docStorage !== "" && docStorage !== {{$pageContent}}) {
      layer.confirm("当前正在编辑上次未保存的草稿，是否加载最新的文档？", {
        btn: ['是(丢弃草稿)','否(保留草稿)'],
        skin: Layers.skin,
        btnAlign: 'c',
        title: "<i class='fa fa-warning'></i><strong> 警告</strong>"
      }, function(index) {
        vditor.setValue({{$pageContent}})
        localStorage.removeItem(storageId)
        layer.close(index)
      }, function() {
        vditor.setValue(docStorage)
      });
    }

    function save() {
        let elementsById = document.getElementById("document_page_editor-markdown-doc");
        let form = document.getElementById('page_form');
        elementsById.value = vditor.getValue()
        Page.ajaxSave(form, {{.sendEmail}}, {{.autoFollowDoc}})
      localStorage.removeItem(storageId)
    }

</script>